.back-img{
    background-image:url(../images/lambo3.PNG)
}
.back-img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}  
.text-center{
    padding-top: 370px;
} 
.info{
    color: rgb(250, 248, 246);
    margin-top: -360px;
    margin: 0px 133px;
}
.para2{
    font-weight: bold;
}
.para3{
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0px;
    font-size: 27px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}
.next-btn{
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    color: rgb(241, 93, 7);
    font-weight: 900;
    font-size: 35px;
}
.display-cntr{
    text-align: center;
}
.col-lg-4-a{
    text-align: center;
    padding-left: 90px;
}
.readmore{
    background-color: transparent;
    color: orangered;
    outline: orangered;
    border-radius: 12px;
    text-decoration: none;
}
.dark{
    font-weight: bold;
    font-size: 16px;
}
.light{
    font-size: 12px;
    color: grey;
}
.body-second{
    background-color: black;
}
.col-left{
    text-align: left;
    background-color: black;
    color: white;
    padding: 40px 30px;
}
.col-right{
    text-align: left;
    background-color: orange;
    color: white;
    margin-left: 115px;
    margin-top: 40px;
    padding: 40px 30px;
    width: 370px;
}
.heading{
    font-size: 24px;
    font-weight: 500;
}
.image-align{
    display: flex;   
    width: 100%; 
}
.image-align img{
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: 100px;
}
.p-left{
    background-color: black;
    color: aliceblue;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 40px;
}
.p-right{
    background-color: black;
    color: aliceblue;
    text-align: right;
    font-size: 23px;
    font-weight: 400;
    padding: 80px;
    margin-bottom: 0px;
}
span{
    color: orange;
}
.container-fluid{
    background-color: black;
}
.col-lg-6{
    display: flex;
    text-align: center;
    margin: 0px;
    background-color: black;
}
.sec-left{
    background-color: orange;
    text-align: left;
    margin-right: 10%;
    padding-right: 50px;
    padding-left: 50px;
}
.sec-right{
    padding-top: 50px;
}
.info-sec{
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
}
.round{
    width: 340px;
    border-radius: 400px;
}
.con{
    color: white;
    background-color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 0px;
    width: 100%;
}
.col-md-6{
    margin: 0%;
}
pre{
    background-color: black;
    color: wheat;
    width: 100%;
    margin: 0%;
    text-align: left;
    padding-right: 20px;
}
.container-fluid-last{
    display: flex;
}
.input{
    background-color:black;
    bottom: 20px ;
    padding-left: 70px 40px;
    color: white;
    height: 537px;
}
.w-100{
    text-align: center;
    color: wheat;
    padding: 30px;
}
.extra{
    padding-top: 20px;
}
.form{
    display: absolute;
    width: 60px;
    border: none;
    padding-top: 70px;
}
.form input{
    color: white;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #584d4d;
    background-color: transparent;
    outline:none;
    width: 300px;
}
.form-btn{
    display: flex;
}
.submit-sub{
    background-color: transparent;
    outline: none;
    outline-color: orange;
    color: orange;
    border-radius: 40px;
}
.reset-res{
    background-color: transparent;
    outline: none;
    outline-color: orange;
    color: orange;
    border-radius: 40px;
    margin-left: 10px;
}
.share{
    margin-top: -114px;
    text-align: center;
    padding-left: 176px;}
.share-btn{
    font-size: 20px;
    font-weight: 500;
    background-color:transparent;
    outline-color: rgb(245, 77, 11);
    border-radius:40px ;    
}
footer{
    background-color: black;
    margin-top: -20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    color: rgb(253, 253, 252);
}

